In [1]:
from keras.models import load_model
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

C:\Users\Bharathy_Nat\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
# load the trained ML model
model = load_model("mortgage_model_trained.h5")

In [3]:
# set the input variables
married = 1
dependents = 0
education = 1
self_employed = 0
applicantincome = 9000
coapplicantincome = 2000
loanamount = 275
loan_amount_term = 360
credit_history = 1
property_area = 2

In [4]:
#  load the input data into a dataframe
forminput = pd.DataFrame()
forminput['Married']=[married]
forminput['Dependents']=[dependents]
forminput['Education']=[education]
forminput['Self_Employed']=[self_employed]
forminput['ApplicantIncome']=[applicantincome]
forminput['CoapplicantIncome']=[coapplicantincome]
forminput['LoanAmount']=[loanamount]
forminput['Loan_Amount_Term']=[loan_amount_term]
forminput['Credit_History']=[credit_history]
forminput['Property_Area']=[property_area]

In [5]:
# checkout the dataframe
forminput

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,1,0,9000,2000,275,360,1,2

In [6]:
#scale the input 
forminput_scaler = StandardScaler().fit(forminput)
forminput_scaled = forminput_scaler.transform(forminput)

In [7]:
# run the model on the input
predic = model.predict_classes(forminput_scaled)
predic[0]

1